.button {
  margin: 3em 0em 0em;
  background-color: #f3f3f3;
  cursor: pointer;
}

/* DataParser Container */

.h5 {
  font-weight: normal;
  font-size: small;
  padding: 2em 0em;
}

.content {
  border-style: none;
  border: #2896C2;
  border-bottom-style: solid;
  border-width: 0.1em;
  font-size: small;
  color: grey;
  /* width: 16em; */
}

/* Left Container */

.flexbox-item-blank {
  /* background-color: tomato; */
  min-width: 200px;
  margin: 10px;
  padding: 50px 50px;
}

.image-button {
  height: 100px;
  width: 100px;
  background-color: #f3f3f3;
  border-radius: 50%;
  border: #f3f3f3;
  cursor: pointer;
}

/* Right Container */

.flexbox-item {
  min-width: 300px;
  margin: 10px;
  background-color: #f3f3f3;
  padding: 50px 50px;
}

.flexbox-container-buttons {
  display: flex;
  width: 200px;
  justify-content: space-around;
  /* background-color: tomato; */
}

/* Header */

.header-title {
  display: flex;
  padding: 0em 1em;
  border: #2896C2;
  border-bottom-style: solid;
  border-width: 0.2em;
}

.header-h1 {
  color: #2896C2;
  font-size: 1.5em;
}